# NYC High Schools Aggregates

### Introduction
In this lab we will practice using aggregate SQL functions. These functions, such as AVG, MIN, and MAX, allow us to perform mathematical operations on a set of numbers, and return one value. We will also use the GROUP BY function. GROUP BY allows us to group rows that have identical values in a column (or columns), often with the intention of performing an aggregate function on these groups. In the database we are using in this lab, each row represents a school, with each column representing some metric or information about that school. We could use an aggregate function to find the MAX total students of all the schools listed. But what if we wanted to know the MAX number of students by Boro? Previously we might have used a WHERE clause, but that would require a separate statement for each boro. Thats where GROUP BY clauses come in. In this example we could use GROUP BY boro, and the query would return the results of our aggregate function for each boro.

Lets begin by using the `sqlite3` library to connect to the database

In [1]:
pwd

'/Users/jeffreykatz/Documents/jigsaw/curriculum/june-22-curriculum/mod-1-sql-curriculum/sql-agg-hs-queries'

In [4]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('nyc_schools.db')
cursor = conn.cursor()
hs_url = "https://raw.githubusercontent.com/eng-6-22/mod-1-sql-curriculum/master/sql-agg-hs-queries/highschools.csv"
high_school_df = pd.read_csv(hs_url)
high_school_df.to_sql('high_schools', conn, index = False)

356

In [5]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('high_schools',)]

In [5]:
cursor.execute('PRAGMA table_info(high_schools)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'dbn', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'num_test_takers', 'REAL', 0, None, 0),
 (4, 'reading_avg', 'REAL', 0, None, 0),
 (5, 'math_avg', 'REAL', 0, None, 0),
 (6, 'writing_score', 'REAL', 0, None, 0),
 (7, 'boro', 'TEXT', 0, None, 0),
 (8, 'total_students', 'INTEGER', 0, None, 0),
 (9, 'graduation_rate', 'REAL', 0, None, 0),
 (10, 'attendance_rate', 'REAL', 0, None, 0),
 (11, 'college_career_rate', 'REAL', 0, None, 0)]

### Aggregates

For each of the questions below, use a SQL aggregate function to find the solution. (Note that in the database, the boro column consists of the values "M" for Manhattan, "X" for the Bronx, "K" for Brooklyn, and "Q" for Queens)

In [5]:
def all_high_schools():
    pass

def avg_num_students_in_hs():
    pass

def avg_attendance_rate_in_hs():
    pass

def largest_diff_btwn_grad_rate_and_college_career_rate():
    pass

def highest_math_avg_queens():
    pass

def highest_combined_score():
    pass

* What's the average number of students in Manhattan?

* What's the average attendance in Manhattan?

* What's the largest difference between graduation_rate and college_career_rate?

* What is the highest math_avg in queens

* What is the highest math_avg in manhattan?

* What is the highest combined score in manhattan?

### Group By

* What's the average number of students in each borough

* What's the average difference between graduation_rate and college_career_rate by borough

* What's the avg college career rate grouped by math_avg scores (Hint: https://stackoverflow.com/questions/30929526/sqlite-group-by-range-of-1000s)

In [6]:

def avg_num_of_students_per_borough():
    pass
    
def avg_diff_btwn_grad_rate_and_college_career_rate_by_boro():
    pass

### HAVING
One important thing to note is that once we use the GROUP BY clause, we can no longer use the WHERE clause for aggregate functions. For example, let's say we wanted to know the average number of students in each boro, but we only wanted the results for boros with an average of more than 1000. Here we would use the HAVING clause. See the example below and then use the HAVING clause to find the solution for the the next question.

In [ ]:
cursor.execute('SELECT boro, AVG(total_students) FROM high_schools GROUP BY boro HAVING AVG(total_students) > 1000')
cursor.fetchall()

In [7]:
def boroughs_with_avg_total_students_over_one_thousand():
    pass

def boroughs_with_avg_college_career_under_point_six():
    pass

What is the average college career rate for each boro, selecting only boros with an average college career rate less than .6?

### Conclusion
In this lab, we performed aggregate functions on our data. This allows us to perform mathematical operations on a set of values in our database. We also used the GROUP BY clause, which gave us the ability to perform the aggregate functions on different subsets of the data at once. Finally, we used the HAVING clause to filter our results in GROUP BY queries.