# Inserting Data into Database

## Introduction

In the last lesson, we learned how to create and connect to a SQL database using SQLite3. We also learned how to create tables in our database. Now that we have our tables, we can begin to insert the data, or rows, into our tables.

### Creating the Table
Lets start off by recreating the database from previous lessons.

Our SQL statement to create the employees table is below.  Copy the text below, and insert it into a `create_table.sql` file.

```SQL
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT, 
    phone_number INTEGER, 
    home_zipcode INTEGER, 
    email TEXT);
```

Then, we can run that file by going to the terminal and running `sqlite3 barbershop.db < create_employees.sql`.

### Inserting data into database
Now that our database is ready and `employees` table is created, we are ready to insert our rows of data into their respective tables.  We can do so by creating a new file called `insert_employees.sql` and copying the following code to that file.

```sql
-- insert_employees.sql
INSERT INTO employees (name, phone_number, home_zipcode, email) VALUES
('fred', '555-333-4444', 10001, 'fred@barbershop.com'),
('bob', '555-333-4444', 10001, 'bob@barbershop.com');
```

In the code above, we started with the INSERT INTO command, followed by the name of the table to which we want to add data. Then, in parentheses, we wrote the column names that we will be filling with data. This is followed by the VALUES keyword, which is accompanied by a parentheses enclosed list of the values that correspond to each column name.

> Notice: We have commas in between each row, and that we ended the SQL statement with a semi-colon (as we do every SQL statement).

Then, we can execute the command by going to the terminal and running the following:

`sqlite3 barbershop.db < insert_employees.sql`

At this point, if we don't see an error, we have properly inserted in our data

### Summary

In this lesson, we worked with an INSERT statement in SQL.

We followed the general pattern of writing our SQL statements in a separate file.  And we saw that an INSERT statement looks like the following: 

```sql
-- insert_employees.sql
INSERT INTO employees (name, phone_number, home_zipcode, email) VALUES
('fred', '555-333-4444', 10001, 'fred@barbershop.com'),
('bob', '555-333-4444', 10001, 'bob@barbershop.com');
```

Then, to execute that file, we went to the terminal and ran the following:

`sqlite3 barbershop.db < insert_employees.sql`