# Select SQL Lab

### Introduction
We've learned all the basics about setting up our SQL database, creating tables, and inserting data. In this lab we will practice querying the data from our salad shop database using `SELECT` statements.

### Loading the Data

In [1]:
import sqlite3
import pandas as pd

def load_data_to_sql():
    conn = sqlite3.connect('./grocery.db')
    cursor = conn.cursor()

    employees_url = "https://raw.githubusercontent.com/eng-6-22/mod-1-sql-curriculum/master/sql-select-lab/data/employees.csv"
    ingredients_url = "https://raw.githubusercontent.com/eng-6-22/mod-1-sql-curriculum/master/sql-select-lab/data/ingredients.csv"
    ingredients_df = pd.read_csv(ingredients_url)
    employees_df = pd.read_csv(employees_url)
    ingredients_df.to_sql('ingredients', conn,
                      index = False, if_exists = 'replace')
    employees_df.to_sql('employees', conn, index = False,
            if_exists = 'replace')


load_data_to_sql()

### Selecting data
Our database is now ready for querying. We will use the python library `sqlite3` for running our SELECT statements.
So to begin, let's select select the employees.

Fill in the appropriate SQL statements inside of each function.

In [ ]:
def all_employees():
    pass

In [ ]:
len(all_employees()) == 12

In [ ]:
def all_ingredients():
    pass

In [ ]:
len(all_ingredients()) == 20

In [ ]:
def all_ingredient_names():
    pass

In [ ]:
len(all_ingredient_names()) == 20

In [ ]:
def all_employee_start_dates():
    pass

In [ ]:
len(all_employee_start_dates()) == 12

### Select Practice

In the following exercises, answer the question by creating a sql select statement that will provide us with the solution. After reading each question, first create a sql statement, the run it using the cursor object to find the answer. 

> HINT: use the WHERE clause and boolean logic to filter the data within the select statement.

Here's an example:
What ingredients cost less than $1/oz?

In [ ]:
#statement = '''SELECT * FROM ingredients WHERE cost_per_ounce < 1.0'''
#cursor.execute(statement)
#cursor.fetchall()

In [ ]:
def cheaper_ingredients():
    pass

What date did the employee Naomi begin working?

In [ ]:
def naomi_start_date():
    pass

In [ ]:
naomi_start_date() == [('2019-02-12',)]

Which ingredients expire after February 3rd 2020?

In [ ]:
def ingredients_expiring_after_feb():
    pass

Which ingredients cost more than 1.00 but less than 1.50?

In [ ]:
def ingredients_middle_price():
    pass

In [ ]:
# all([(ingredient[2] < 1.50 or ingredient[2] > 1) for ingredient in ingredients_middle_price()])

Which employees' home zip code is 10001 or 10002?

In [ ]:
def employees_in_nearby_zip_code():
    pass

In [ ]:
all([(employee[-2] == 10001 or employee[-2] == 10002) for employee in employees_in_nearby_zip_code()])

### Conclusion

Using the SELECT statement in sql is how we query the data in the database. We use the SELECT statement to retrieve exactly the data we are interested in analyzing. In this lab we started off with some basic SELECT commands using `SELECT *` to select everything from a table, and `SELECT column_name` to select all the data from a specific column, or columns, in a table.

Most of the time however, we are going to want to add some more complex filters to our SELECT statements, so we can be more precise in the data we are querying. For example, if our employees table had a 1,000,000 rows but we only wanted to see those rows for employees that started after a certain date, we would use a filter to limit the results of a query. The `WHERE` clause is how we filter in our SELECT statements. 

At the end of the lab, we used the `WHERE` clause, in conjunction with boolean logic, to apply filters to the queries.